<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form class="" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-group" type="text" name="username" id="" placeholder="Username"><br>
            <input class="form-group" type="password" name="password" id="" placeholder="Password"><br>
            <input class="btn" type="submit" value="Login"><br>
        </div>
    </form>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</body>
</html>